<h2>Секта кнопкопоклонников</h2>
<p>Здравствуйте. Мы группа людей, которым нравятся механические клавиатуры.</p>
<p>Секта началась с чата в Telegram (вот он, кстати: <a href="https://t.me/ru_mechcult">@ru_mechcult</a>)
  но быстро обросла классными людьми, которые делают интересные проекты.</p>

<h2>Проекты сектантов</h2>
<ul>
  <li><a href="https://github.com/mechcult">Организация в Github</a></li>
  <li><a href="https://trello.com/ru_mechcult">Trello</a></li>
  <li><a href="https://rumech.guide">Русскоязычный гайд по механическим клавиатурам</a></li>
  <li><a href="https://t.me/KgOfHedgehogs">Jian Keyboard от Ежа™</a></li>
  <li><a href="https://vk.com/thekillswitch">Авторский проект Flumeded</a></li>
  <li><a href="https://reddit.com/r/ru_mechmarket">Русскоязычная барахолка на Reddit</a></li>
  <li><a href="https://discord.gg/PcD5PST">Чат в Discord</a></li>
</ul>
